@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*====================NAVBAR======================*/
.container_nav {
  height: 65px;
  display: flex;
}

.container_left {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 70px;
  padding: 20px;
}

.search_container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  flex-grow: 1; /* Позволяет контейнеру поиска расти, заполняя доступное пространство */
}

.search_container input {
  border: none;
  padding: 20px;
  outline: none;
  flex-grow: 1; /* Позволяет input расти, заполняя доступное пространство внутри контейнера */
  min-width: 0; /* Предотвращает input от выхода за пределы контейнера */
}

.search_icon {
  padding: 0 10px;
  display: flex;
  align-items: center;
}

#search_location {
  border-left: 1px solid #ccc;
}

.search_button {
  background-color: #ff5a5f;
  border: none;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container_right {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
  gap: 25px;
  padding-right: 50px;
}

.english {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.logIn {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
}

.signUp {
  background-color: #00798A;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  width: 85px;
  padding: 15px;
  cursor: pointer;
}

.signUp:hover {
  background-color: #005C6B;
  color: #DDDDDD;
  transform: scale(1.05);
}

/*===============================MAIN==============================*/
.container_main {
  max-width: 80%;
  margin: 0 auto;
}

/*=============================THEPEOPLE===========================*/
.thePeople {
  display: flex;
  margin-top: 100px;
}

.thePeopleLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.thePeopleLeft > h1 {
  font-size: 42px;
  font-weight: 700;
}

.thePeopleLeft > p {
  font-size: 16px;
  font-weight: 400;
}

.thePeopleLeft > a {
  background-color: #00798A;
  color: #FFFFFF;
  padding: 15px;
  border: none;
  border-radius: 10px;
  max-width: 120px;
  text-decoration: none;
}

.thePeopleLeft > a:hover {
  background-color: #005C6B;
  color: #DDDDDD;
  transform: scale(1.05);
}

.thePeopleRight {
  width: 50%;
}

/*==========================container_events_near===============*/
.container_events_near {
  margin-top: 150px;
}

.container_heading,
.container_heading_online {
  display: flex;
  justify-content: space-between;
}

.container_heading_left {
  display: flex;
  gap: 20px;
}

.container_heading_left,
.container_heading_online > h3 {
  font-size: 24px;
  font-weight: 600;
}

.mountain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  font-weight: 600;
  color: #00798A;
  background-color: rgba(151, 202, 209, 0.1764705882);
  cursor: pointer;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.container_heading > button,
.container_heading_online > button {
  color: #00798A;
  font-size: 25px;
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
}

.container_heading > button:hover,
.container_heading_online > button:hover {
  background-color: #ffffff;
  color: rgba(0, 122, 138, 0.2784313725);
}

.container_heading > button:focus,
.container_heading_online > button:focus {
  outline: none;
  background-color: #ffffff;
  color: rgba(0, 122, 138, 0.2784313725);
}

/*==================================container_photo_events======================*/
.container_photo_events {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 45px;
}

/*==================================container_cards======================*/
.container_cards {
  margin-top: 30px;
  max-width: 275px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  outline: none;
}

.container_cards:focus {
  border: 1px solid #00798A;
  box-shadow: 0 0 10px rgba(0, 121, 138, 0.5);
}

.container_cards:hover {
  border: 1px solid #00798A;
  box-shadow: 0 0 10px rgba(0, 121, 138, 0.5);
  transform: scale(1.05);
}

.container_cards .photo_events img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.photo_events {
  cursor: pointer;
}

.event_name {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.event_name > h4 {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.location {
  font-size: 14px;
  font-weight: 500;
  color: #707070;
}

.date {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.date > p {
  font-size: 14px;
  font-weight: 400;
}

.going_free {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.going,
.free {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 16px;
  font-weight: 400;
}

/*=========================online_events=====================*/
.online_events {
  margin-top: 100px;
}

/*=======================container_join_meetup=======================================*/
.container_join_meetup {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  background-color: #F7FBFB;
}

.container_join_meetup_left {
  margin: auto 0;
  max-width: 60%;
  padding: 55px;
}

.container_join_meetup_left > h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}

.container_join_meetup_left > p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}

.container_join_meetup_left > button {
  color: #FFFFFF;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #E32359;
  cursor: pointer;
  width: 180px;
  height: 45px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.container_join_meetup_left > button:hover {
  background-color: #C91E50;
  transform: scale(1.05);
}

.container_join_meetup_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

/*===============================explore_top_categories====================================*/
.explore_top_categories > h3 {
  margin: 100px 0 35px 0;
  font-size: 28px;
  font-weight: 600;
}

.container_categories {
  display: flex;
  gap: 20px;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px; /* Задайте нужную ширину */
  height: 150px; /* Задайте нужную высоту */
  background-color: #F7FBFB; /* Пример цвета фона */
  border-radius: 10px;
  gap: 15px;
}

.categories > p {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.categories:focus {
  border: 1px solid #00798A;
  box-shadow: 0 0 10px rgba(0, 121, 138, 0.5);
}

.categories:hover {
  border: 1px solid #00798A;
  box-shadow: 0 0 10px rgba(0, 121, 138, 0.5);
  transform: scale(1.05);
  cursor: pointer;
}

/*=================================popular_cities========================================*/
.popular_cities {
  margin-top: 100px;
}

.popular_cities > h3 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.popular_cities > p {
  font-size: 14px;
  font-weight: 400;
  color: #707070;
  margin-bottom: 30px;
}

.container_photo_popular_cities {
  display: flex;
  justify-content: space-around;
}

.cards_photo_cities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  outline: none;
}

.cards_photo_cities > p {
  font-size: 20px;
  font-weight: 600;
}

.cards_photo_cities:focus {
  border: 1px solid #00798A;
  box-shadow: 0 0 10px rgba(0, 121, 138, 0.5);
}

.cards_photo_cities:hover {
  border: 1px solid #00798A;
  box-shadow: 0 0 10px rgba(0, 121, 138, 0.5);
  transform: scale(1.05);
  cursor: pointer;
}

/*==============================how_meetup============================*/
.how_meetup > h3 {
  font-size: 28px;
  font-weight: 600;
  margin: 100px 0 30px 0;
}

.container_discover_start {
  display: flex;
  gap: 20px;
}

.discover,
.start {
  width: 50%;
  display: flex;
  background-color: #F7FBFB;
}

.search_green,
.plus_green {
  padding: 25px 0 0 25px;
}

.start_description,
.discover_description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.discover_description > button,
.start_description > button {
  color: #00798A;
  font-size: 16px;
  border: none;
  background-color: #F7FBFB;
  cursor: pointer;
  display: flex;
  max-width: 190px;
}

.discover_description > button:hover,
.start_description > button:hover {
  background-color: #F7FBFB;
  color: rgba(0, 122, 138, 0.2784313725);
}

.discover_description > button:focus,
.start_description > button:focus {
  outline: none;
  background-color: #F7FBFB;
  color: rgba(0, 122, 138, 0.2784313725);
}

/*========================friendships=========================*/
.friendships > h3 {
  font-size: 28px;
  font-weight: 600;
  margin: 100px 0 25px 0;
}

.friendships > p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
  color: #707070;
  max-width: 80%;
}

.friendships_description {
  display: flex;
  gap: 30px;
}

.cards_friednships {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards_friednships > h4 {
  font-size: 18px;
  font-weight: 600;
}

.cards_friednships > p {
  font-size: 16px;
  font-weight: 400;
  color: #707070;
}

.cards_friednships > button {
  color: #00798A;
  font-size: 16px;
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
  display: flex;
  max-width: 190px;
}

.cards_friednships > button:hover {
  background-color: #FFFFFF;
  color: rgba(0, 122, 138, 0.2784313725);
}

.cards_friednships > button:focus {
  outline: none;
  background-color: #FFFFFF;
  color: rgba(0, 122, 138, 0.2784313725);
}

/*=======================================section_footer=====================================*/
footer {
  background-color: #212121;
}

.section_footer {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

/*=======================================footer_call_to_action=====================================*/
.footer_call_to_action {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #707070;
}

.footer_call_to_action > p {
  font-size: 16px;
  font-weight: 600;
  color: #F6F7F8;
}

.footer_call_to_action > button {
  border: 2px solid #FFFFFF;
  border-radius: 6px;
  padding: 10px 15px;
  color: #FFFFFF;
  background-color: transparent;
  cursor: pointer;
}

/*=======================================footer_navigation=====================================*/
.footer_navigation {
  display: flex;
  margin-top: 25px;
}

.footer_nav_section {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
  color: #F6F7F8;
  font-size: 16px;
  font-weight: 400;
}

.footer_nav_section li {
  margin-bottom: 5px;
  color: #C5C4C4;
  list-style-type: none;
  cursor: pointer;
}

/*=======================================footer_nav_section=====================================*//*# sourceMappingURL=style_main.css.map */