@import "reset";

/*====================NAVBAR======================*/

.container_nav{
    height: 65px;
    display: flex;
}

.container_left{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 70px;
    padding: 20px;
}

.search_container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    flex-grow: 1; /* Позволяет контейнеру поиска расти, заполняя доступное пространство */
   
}

.search_container input {
    border: none;
    padding: 20px;
    outline: none;
    flex-grow: 1; /* Позволяет input расти, заполняя доступное пространство внутри контейнера */
    min-width: 0; /* Предотвращает input от выхода за пределы контейнера */
}
.search_icon {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

#search_location {
    border-left: 1px solid #ccc;
}

.search_button {
    background-color: #ff5a5f;
    border: none;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container_right{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    gap: 25px;
    padding-right: 50px;
}

.english{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.logIn{
    border: none;
    background-color: white;
    cursor: pointer;
}

.signUp{
    background-color: #00798A;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    width: 85px;
    padding: 15px;
    cursor: pointer;
}
.signUp:hover {
    background-color: #005C6B; 
    color: #DDDDDD;
}

/*===============================MAIN==============================*/
.container_main{
max-width: 80%;
margin: 0 auto;
}
/*=============================THEPEOPLE===========================*/

.thePeople{
 display: flex;
 margin-top: 100px;
}

.thePeopleLeft{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.thePeopleLeft>h1{
    font-size: 42px;
    font-weight: 700;
}

.thePeopleLeft>p{
    font-size: 16px;
    font-weight: 400;
}

.thePeopleLeft>a{
background-color: #00798A;
color: #FFFFFF;
padding: 15px;
border: none;
border-radius: 10px;
max-width: 120px;
text-decoration: none;
}

.thePeopleLeft>a:hover {
    background-color: #005C6B;
    color: #DDDDDD;
}

.thePeopleRight{
    width: 50%;
}

/*==========================container_events_near===============*/

.container_events_near{
    margin-top: 150px;
}

.container_heading{
    display: flex;
    justify-content: space-between
}

.container_heading_left{
    display: flex;
    gap: 20px;
}

.container_heading_left>h3{
font-size: 40px;
font-weight: 600;
}

.mountain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #00798A;
    background-color: #97cad12d;
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.container_heading>button{
    color: #00798A;
    font-size: 25px;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

.container_heading > button:hover {
    background-color: #ffffff; 
    color: #007a8a47; 
    
}


.container_heading > button:focus {
    outline: none; 
    background-color: #ffffff; 
    color: #007a8a47; 
}

/*==================================container_photo_events======================*/
.container_photo_events{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 45px;
}


/*==================================container_cards======================*/

.container_cards{
    margin-top: 30px;
    max-width: 275px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    outline: none;
}
.container_cards:focus {
    border: 1px solid #00798A;
    box-shadow: 0 0 10px rgba(0, 121, 138, 0.5);
}
.container_cards:hover {
    border: 1px solid #00798A; 
    box-shadow: 0 0 10px rgba(0, 121, 138, 0.5); 
}
.container_cards .photo_events img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}


.photo_events{
    cursor: pointer;
}
.event_name{
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}

.event_name>h4{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.location{
    font-size: 14px;
    font-weight: 500;
    color: #707070
}

.date{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.date>p {
    font-size: 14px;
    font-weight:400;
}

.going_free{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.going,
.free{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 16px;
    font-weight: 400;
}


